.container{
	text-align: center;
	padding: 1em;
	margin: 2em;
}

.container-gallery, .filmstrip{
	margin: 1em;
	vertical-align: top;
	display: inline-block;
	min-width: 250px;
	width: 40%;
}

.img-responsive{
	border: 3px solid #ccc;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
	border-radius: 1em;
	display: inline-block;
}

.img-thumbnail{
	display: inline-block;
	margin: 1em;
	width: 80px;
}

.filmstrip{
	max-height: 350px;
	overflow: auto;
}

h1, h2, footer{
	margin: 0;
	padding: 1em;
}