body{
	text-align: center;
}

h1, h2, footer{
	margin: 0;
	padding: 1em;
}

.container{
	border: 2px solid #5f8acc;
	border-radius: 0.5em;
	display: inline-block;
	margin: 1em;
	overflow: hidden;
	padding: 0;
	width: 90%;
}

.container-gallery, .filmstrip{
	display: inline-block;
	margin: 2em;
	min-width: 250px;
	vertical-align: middle;
	width: 40%;
}

.img-responsive{
	border-radius: 1em;
	border: 3px solid #ccc;
	box-shadow: rgba(0,0,0,0.5) 0 0 10px;
	display: inline-block;
	max-height: 344px;
}

.img-thumbnail{
	display: inline-block;
	margin: 1em 0.5em;
	max-height: 62px;
	width: 80px;
}

.filmstrip{
	max-height: 350px;
	overflow: auto;
}
